[submodule "Food-Service"]
	path = Food-Service
	url = https://github.com/santadaniel/Food-Service
[submodule "Drink-Service"]
	path = Drink-Service
	url = https://github.com/santadaniel/Drink-Service
[submodule "Diet-Service"]
	path = Diet-Service
	url = https://github.com/santadaniel/Diet-Service
